body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    max-width: 600px;
    line-height: 1.5;
    text-align: center;  
}
header{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
header h1{
    letter-spacing: .2rem;
    font-size: 40px;
}
header h2{
    color: #006EB6;
    letter-spacing: .3rem;
    font-size: 20px;
}
main{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 3px;
}
main li{
    padding: 10px;
}
.logo{
    height: 150px;
    display: block;
    margin: 0 auto;
}