body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    margin-left: 300px;
    margin-right: 300px;
    padding: 40px;
}
.content{
    max-width: 600px;
    line-height: 1.5;
    text-align: center;  
}
header{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    letter-spacing: .2rem;
    font-size: 40px;
}
h2{
    color: #006EB6;
    letter-spacing: .3rem;
    font-size: 20px;
    border-bottom: 2px solid lightgrey;
}
.logo{
    height: 150px;
    display: block;
    margin: 0 auto;
}
main{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 3px;
}
main li{
    padding: 10px;
}
.dark{
    background-color: #333;
    color: white;
}
.dark h2{
    color: #0077b6;
}