/* Gold color: #EFC69B
Red color: #AF1B3F
Dark color: #473144
Body font: Helvetica, Arial, sans-serif
Headline font: Lora, Impact, serif (Lora can be found on Google Fonts.) */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


#main-heading {
    font-family: Lora, Impact, serif;
    color: #473144;
    text-align: center;
}
a {
    color: #AF1B3F;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}
nav {
    border-top: solid 3px #EFC69B;
    border-bottom: solid 3px #EFC69B;
}
.main-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 40px;
}
ul li{
    list-style-type: none;
    padding-left: 40px;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}
.book {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 40px;
    margin-right: 40px;
    margin-top: 20px;
    border-right: solid 3px #EFC69B;
}

h2 {
    color: #AF1B3F;
}
.info, p {
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
}
.filters {
    border: 3px solid #EFC69B;
    margin: 15px;
    padding: 10px;
}