@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}
body {
    font-family: var(--primary-color);
    font-size: 1.2em;
    background-color: rgb(230, 230, 230);
}
/* a:visited {
    color: var(--accent-color);
} */
header {
    background-color: var(--primary-color);
}
h1 {
    color: var(--text-light);
    text-align: center;
    padding: 0px;
    font-family: var(--secondary-font);
}
nav {
    padding-bottom: 5px;
    text-align: center;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--primary-font);
}
.menu{
    display: none;
}
.show-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li {
    padding-top: 5px;
    padding-bottom: 5px;
}
a {
    color: var(--text-light);
    text-decoration: none;
}
button {
    border: none; 
    background-color: transparent;
    color: var(--text-light);
    font-family: var(--secondary-font);
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
}
main h2{
    font-family: var(--secondary-font);
    text-align: center;
}
.gallery {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.gallery img{
    object-fit: cover;
    height: 250px;
    width: 250px;
    border: white solid 8px;
    box-shadow: 5px 5px 10px black;
}
.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    z-index: 1;
}
.viewer.hidden{
    display: none;
}
.viewer img{
    max-height: 100%;
    max-width: 100%;
}
.close-viewer{
    grid-row: 1;
    justify-self: end;
    margin: 10px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
}

@media screen and (min-width: 700px) {
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li {
        margin: 0 10px;
    } 
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    header button {
        display: none;
    }
    .show-menu {
        display: flex;
        flex-direction: row;
    }
    .viewer {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 80px;
        margin: 80px;
    }
    .close-viewer {
        position: fixed;
        top: 70px;
        right: 70px;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }
    .viewer img {
        max-height: 100%;
        max-width: 100%;
        padding: 10px;
    }
}
/* @media screen and (max-width: 699x) {
    .show-menu {
        flex-direction: column;
    }
} */
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}