/* style.css */
* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .errors > p {
    border: 1px solid red;
    padding: 0.5em;
  }
  /* Style the select arrow for Safari */
  select::-webkit-inner-spin-button,
  select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Style the select arrow for other browsers */
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .hide {
    display: none; /* Initially hide the credit card input and label */
  }
  label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  input {
    width: 20%;
  }
  textarea {
    width: 20%;
  }
  select {
    width: 20%;
    padding: 3px;
  }
  button {
    margin-top: 20px;
    color: white;
    background-color: rgb(0, 194, 0);
    border: none;
    padding: 10px;
    border-radius: 6px;
  }
